# Data cleaning

In [1]:
# Importing the necessary libraries
import pandas as pd

In [2]:
# Load database with number of passenger vehicles per country per year
database_vehicles = pd.read_csv('../data/road_eqs_carpda_page_linear.csv')

# Load database with number of zero emmision vehicles per country per year
database_zev = pd.read_csv('../data/road_eqs_zev_page_linear.csv')

# Load database with emisions per country per year
database_emissions = pd.read_csv('../data/sdg_13_10_page_linear_2.csv')

# Load database with populatoins per country per year
database_population = pd.read_csv('../data/population_1january.csv')

In [3]:
database_population.columns

database_population = database_population[['geo','TIME_PERIOD', 'OBS_VALUE']]
database_population = database_population.rename(columns={'OBS_VALUE':'population'})

In [4]:
# Store the unique countries from each database in sets
set1 = set(database_vehicles.geo.unique())
set2 = set(database_zev.geo.unique())
set3 = set(database_emissions.geo.unique())
set4 = set(database_population.geo.unique())

In [5]:
# Identify which countries are in all four databases
countries = set1.intersection(set2, set3, set4)

In [6]:
joined_df_1 = pd.merge(database_vehicles, database_zev, how='right', on=['geo', 'TIME_PERIOD'])
joined_df_2 = pd.merge(joined_df_1, database_emissions, how='left', on=['geo', 'TIME_PERIOD'])
joined_df = pd.merge(joined_df_2, database_population, how='left', on=['geo', 'TIME_PERIOD'])

In [7]:
# Rename columns
joined_df = joined_df.rename(columns={'OBS_VALUE_y':'amount_zev', 'OBS_VALUE' : 'emission_per_capita', 'OBS_VALUE_x' : 'amount_passenger_cars', 'TIME_PERIOD' : 'time_period'})

In [8]:
# Transforming the abbrevation to the full country names
countries_map = {'AT' : 'Austria',
 'BE' : 'Belgium',
 'BG' : 'Bulgaria',
 'CY' : 'Cyprus',
 'CZ' : 'Czech Republic',
 'DE' : 'Germany',
 'DK': 'Denmark',
 'EE' : 'Estonia',
 'EL' : 'Greece',
 'ES' : 'Spain',
 'EU27_2020' : 'European Union',
 'FI' : 'Finland',
 'FR' : 'France',
 'HR' : 'Croatia',
 'HU' : 'Hungary',
 'IE' :'Ireland',
 'IT' : 'Italy',
 'LT' : 'Lithuania',
 'LU' : 'Luxembourg',
 'LV' : 'Latvia',
 'MT' : 'Malta',
 'NL' : 'Netherlands',
 'PL' : 'Poland',
 'PT': 'Portugal',
 'RO' : 'Romania',
 'SE' : 'Sweden',
 'SI' : 'Slovenia',
 'SK' : 'Slovakia'}

joined_df['geo'] = joined_df['geo'].map(countries_map)

In [9]:
# Construct new columns with share of zero emmission vehicles and amount of emmission vehicles
joined_df['share_zev'] = joined_df['amount_zev'] / joined_df['amount_passenger_cars']
joined_df['amount_ev'] = joined_df['amount_passenger_cars'] - joined_df['amount_zev']
joined_df['zev_per_capita'] = joined_df['amount_zev'] / joined_df['population']
joined_df['ev_per_capita'] = joined_df['amount_ev'] / joined_df['population']
joined_df['total_emissions'] = joined_df['emission_per_capita'] * joined_df['population']

In [10]:
# Select only the relevant columns from the merged dataset
joined_df = joined_df[['geo', 'time_period', 'amount_passenger_cars', 'amount_zev', 'amount_ev', 'share_zev', 'emission_per_capita', 'zev_per_capita', 'ev_per_capita', 'total_emissions']]
joined_df

,geo,time_period,amount_passenger_cars,amount_zev,amount_ev,share_zev,emission_per_capita,zev_per_capita,ev_per_capita,total_emissions
0,Austria,2014,4694921,3389,4691532,0.000722,8.4,0.000398,0.551440,71465402.4
1,Austria,2015,4748048,5038,4743010,0.001061,8.7,0.000587,0.552481,74688856.2
2,Austria,2016,4821557,9086,4812471,0.001884,8.6,0.001044,0.553128,74824050.6
3,Austria,2017,4898578,14637,4883941,0.002988,9.3,0.001668,0.556710,81587644.5
4,Austria,2018,4978852,20855,4957997,0.004189,9.8,0.002364,0.561987,86458216.6
...,...,...,...,...,...,...,...,...,...,...
275,Slovakia,2019,2393577,956,2392621,0.000399,6.4,0.000175,0.438979,34882694.4
276,Slovakia,2020,2439986,1863,2438123,0.000764,5.5,0.000341,0.446717,30018301.5
277,Slovakia,2021,2493183,3001,2490182,0.001204,6.3,0.000550,0.456096,34396620.3
278,Slovakia,2022,2555491,4531,2550960,0.001773,5.5,0.000834,0.469383,29890916.0
279,Slovakia,2023,2644361,7899,2636462,0.002987,NaN,0.001455,0.485644,NaN

In [11]:
joined_df = joined_df.sort_values(by=['geo', 'time_period'])

# Obtain difference with previous year for all variables for each country
joined_df['zev_diff'] = joined_df.groupby('geo')['amount_zev'].transform(lambda x: x - x.shift(1))
joined_df['ev_diff'] = joined_df.groupby('geo')['amount_ev'].transform(lambda x: x - x.shift(1))
joined_df['emmission_diff'] = joined_df.groupby('geo')['total_emissions'].transform(lambda x: x - x.shift(1))
joined_df['all_cars_diff'] = joined_df.groupby('geo')['amount_passenger_cars'].transform(lambda x: x - x.shift(1))

# Compute relative differences data
joined_df['zev_norm'] = joined_df.groupby('geo')['amount_zev'].transform(lambda x: (x - x.shift(1))/x.shift(1))
joined_df['ev_norm'] = joined_df.groupby('geo')['amount_ev'].transform(lambda x: (x - x.shift(1))/x.shift(1))
joined_df['emmission_norm'] = joined_df.groupby('geo')['total_emissions'].transform(lambda x: (x - x.shift(1))/x.shift(1))
joined_df['all_cars_norm'] = joined_df.groupby('geo')['amount_passenger_cars'].transform(lambda x: (x - x.shift(1))/x.shift(1))

In [12]:
# View the first five rows of the dataframe to check
joined_df.head()

,geo,time_period,amount_passenger_cars,amount_zev,amount_ev,share_zev,emission_per_capita,zev_per_capita,ev_per_capita,total_emissions,zev_diff,ev_diff,emmission_diff,all_cars_diff,zev_norm,ev_norm,emmission_norm,all_cars_norm
0,Austria,2014,4694921,3389,4691532,0.000722,8.4,0.000398,0.551440,71465402.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Austria,2015,4748048,5038,4743010,0.001061,8.7,0.000587,0.552481,74688856.2,1649.0,51478.0,3223453.8,53127.0,0.486574,0.010973,0.045105,0.011316
2,Austria,2016,4821557,9086,4812471,0.001884,8.6,0.001044,0.553128,74824050.6,4048.0,69461.0,135194.4,73509.0,0.803493,0.014645,0.001810,0.015482
3,Austria,2017,4898578,14637,4883941,0.002988,9.3,0.001668,0.556710,81587644.5,5551.0,71470.0,6763593.9,77021.0,0.610940,0.014851,0.090393,0.015974
4,Austria,2018,4978852,20855,4957997,0.004189,9.8,0.002364,0.561987,86458216.6,6218.0,74056.0,4870572.1,80274.0,0.424814,0.015163,0.059697,0.016387

In [13]:
# Export the full dataset
joined_df.to_csv('../data/merged_dataset.csv')